{% extends "main.twig" %}

{% block head %}
<link rel="canonical" href="https://xkcd.tw/"/>
{% endblock %}

{% block content %}

{% if order == "publish" %}
依照原版順序排列。<a href="?o=translate">點此改為依翻譯更新順序排列</a>。
{% else %}
依照翻譯更新順序排列。<a href="?o=publish">點此改為依照原版順序排列</a>。
{% endif %}
<p>
<div id="strip_list">
{% for id, strip in strips %}
<a href="/{{id}}"><span>{{id}}</span> {{strip.title}}</a><br>
{% endfor %}
</div>
<div style="text-align:left">
<hr>
特殊頁面：
<ul>
<li><a href="/s/uni/index.html">unixkcd-tw</a></li>
<li><a href="/s/314_date_calculator.html">314 約會適合年齡產生器</a></li>
<li><a href="/s/936_password_generator.html">936 密碼產生器</a></li>
</ul>
</div>

{% endblock %}