{% extends "strip.twig" %}

{% block head %}
<style>
#controllPanel{
    max-width:553px; margin:0 auto; position:relative; font-size:12px !important;text-align:left;
}
#controllPanel button, #controllPanel input{
    font-size:10px;
}
#controllPanel button{
    padding-left:5px;
    padding-right:5px;
}
.active{
    background-color: #def;
}
#preloadIndicator{
    max-width:100%;
}
img:-webkit-full-screen{
    max-height: 100vh !important;
    max-width: 100vw !important;
    height: min(100vh, 100vw * 395 / 553);
    width: min(100vw, 100vh * 553 / 395);
}
</style>
{% endblock %}

{% block comic %}

<img id="frame" src="/s/1190/00/0001.png" style="max-height:{{strip.height}}px" alt="{{strip.title}}" title="{{strip.caption}}">
<canvas id="preloadIndicator" width="533" height="2"></canvas>

<div id="controllPanel">
<div style="margin-bottom:4px">
<input id="slider" style="width:100%;" type="range" min="1" max="3099" value="1">
<button id="toFirst" onclick="player.setProgress(1);">|◀◀</button>
<button id="stepBackBtn" onclick="player.stepFrame(-1);">|◀</button>
<input id="progress" value="1" size="4" maxlength="4">
<button id="playBtn" onclick="player.togglePlay();">▶</button>
<button id="stepForwardBtn" onclick="player.stepFrame(1);">▶|</button>
<button id="toLast" onclick="player.setProgress(player.maxProgress);">▶▶|</button>
&nbsp;
<button id="fullscreen" onclick="player.toggleFullScreen()">⤢</button>

<span id="time" style="float:right"></span>

</div>

<div style="margin-bottom:4px">
<button id="spd1" onclick="player.setSpeed(1.3)" class="spdbtn">1x</button>
<button id="spd2" onclick="player.setSpeed(2.6)" class="spdbtn active">2x</button>
<button id="spd5" onclick="player.setSpeed(6.5)" class="spdbtn">5x</button>
<button id="spd10" onclick="player.setSpeed(13)" class="spdbtn">10x</button>
</div>

<div>
章節<br>
<button id="ch1" onclick="player.setProgress(1)">沙堡</button>
<button id="ch2" onclick="player.setProgress(972)">旅程</button>
<button id="ch3" onclick="player.setProgress(2651)">部落</button>
<button id="ch4" onclick="player.setProgress(2926)">救鄉</button>
</div>

<p>空白鍵：暫停/播放<br>
左右方向鍵：倒退/前進一格<br>
1~4 數字鍵：速度控制</p>

<hr>
<p>這篇漫畫從 2013-03-25 開始連載，每半個小時到一個小時切換到下一格，到 2013-07-26 結束，連載時間一共 123 天。

</div>



<img id="preloader" style="position:absolute;top:-10000px;left:-10000px" alt="" src="/s/1190/00/0001.png">

<script type="text/javascript"><!--
textFrames = window.textFrames || {} // will be populated
progress = document.getElementById('progress')
slider = document.getElementById('slider')
playBtn = document.getElementById('playBtn')
time = document.getElementById('time')
preloader = document.getElementById('preloader')
frame = document.getElementById('frame')

frame.onclick = e => window.player.togglePlay()
frame.requestFullscreen = frame.requestFullscreen || frame.webkitRequestFullscreen || frame.mozRequestFullScreen || frame.msRequestFullscreen

preloadIndicator = document.getElementById('preloadIndicator')
preloadCtx = document.getElementById('preloadIndicator').getContext('2d')

window.player = {
    defaultSpeed: 2.6,
    maxProgress: 3099,

    speed: 0,    // frame per second
    progress: 1, // current frame
    textframeMinTime: 1000, // mininal display time for key frames, in milliseconds
    pauseReason: 'stopped',

    nextStep: false,

    toggleFullScreen: function(){
        if (document.fullscreenElement) {
            document.exitFullscreen()
        } else {
            frame.requestFullscreen()
        }
    },

    togglePlay: function(){
        if (this.speed <= 0) {
            this.play()
        } else {
            this.pause()
        }
    },

    play: function(){
        if (this.speed <= 0) {
            this.speed = this.defaultSpeed
            this.stepFrame()
        }
        this.pauseReason = false
        playBtn.textContent = '❙❙'
        playBtn.classList.add('active')
    },

    setSpeed: function(s){
        this.defaultSpeed = s
        this.speed = this.speed ? s : 0
        preloader.preloadRange = s * 120

        let btnMap = {
            1.3: 'spd1',
            2.6: 'spd2',
            6.5: 'spd5',
            13: 'spd10',
        }

        let btnId = btnMap[s] || false
        if (btnId) {
            let active = document.querySelector('.spdbtn.active')
            if (active) {
                active.classList.remove('active')
            }
            document.getElementById(btnId).classList.add('active')
        }

        this.showProgress()
    },

    stepFrame: function(direction) {
        let start = Date.now()
        this.progress += (direction < 0) ? -1 : 1

        if (this.progress > this.maxProgress) {
            this.progress = this.maxProgress - 4
        }
        if (this.progress <= 0) {
            this.progress = 1
        }

        this.setProgress(this.progress)
        frame.id = this.progress
        let selfId = this.progress

        if (this.speed > 0 && !direction) {
            let interval = 1000 / this.speed
            if (this.progress >= 2441 && this.progress <= 2445) {
                interval /= 20 // 遠い国から 辿り着いた 君はあの光る星 shooting star
            } else if (textFrames[this.progress] && interval < this.textframeMinTime) {
                interval = this.textframeMinTime
            }

            frame.onload = function(){
                frame.onload = null
                interval -= Date.now() - start
                this.nextStep = setTimeout(function(){
                    if (selfId === parseInt(frame.id)) {
                        player.stepFrame.bind(player)()
                    }
                }, Math.max(interval,0))
            }
        } else {
            this.pause()
        }
    },

    pause: function(reason){
        if (this.speed === 0) {
            return
        }

        if (this.nextStep) {
            clearTimeout(this.nextStep)
            this.nextStep = false
        }

        if (this.speed > 0) {
            this.speed = 0
            this.pauseReason = reason || false
        }

        playBtn.textContent = '▶'
        playBtn.classList.remove('active')
    },

    unpause: function(reason){
        if (!reason || reason == this.pauseReason) {
            this.play()
            this.pauseReason = false
        }
    },

    setProgress: function(p){
        p = parseInt(p)

        if (isNaN(p)) {
            this.showProgress()
            return
        }

        if (p > this.maxProgress) {
            p = this.maxProgress
        } else if (p < 1) {
            p = 1
        }
        this.progress = p
        this.showProgress()
        this.showImage(this.progress)
    },

    showProgress: function(){
        progress.value = this.progress
        slider.value = this.progress

        let secLeft = (this.maxProgress - this.progress - 4) / this.defaultSpeed
        let frameTime = 1000 / this.defaultSpeed
        let diff = this.textframeMinTime - frameTime
        if (diff > 0) {
            diff /= 1000 // millisec to sec
            Object.keys(textFrames).forEach(key => {
                if (key >= this.progress) {
                    secLeft += diff
                }
            })
        }

        secLeft = Math.max(0, secLeft)
        let min = (parseInt(secLeft/60) + "").padStart(2, "0")
        let sec = (parseInt(secLeft%60) + "").padStart(2, "0")
        time.textContent = `-${min}:${sec}`
    },

    showImage: function(id){
        frame.src = this.id2path(id)
        preloader.setPosition(id)

        if (id >= 3094 ) {
            frame.title = '劇終'
        } else if (id >= 3072) {
            frame.title = '...'
        } else if (id >= 2927) {
            frame.title = '快跑'
        } else if (id >= 2925) {
            frame.title = '...'
        } else {
            frame.title = '下格待續'
        }
    },

    id2path: function(id){
        let dir = (parseInt(id/100)+"").padStart(2, "0")
        let file = (id+"").padStart(4, "0")
        return `/s/1190/${dir}/${file}.png `.trim(); // XXX
    }
}

preloader.idsToLoad = {'length': player.maxProgress}
for (let i = 1; i <= player.maxProgress; i++) {
    preloader.idsToLoad[i] = true
}

preloader.preloadRange = 200
preloader.setPosition = function (id) {
    if (this.idsToLoad.length <= 0) return

    while (id > player.maxProgress) id -= player.maxProgress
    while (id < 1) id += player.maxProgress

    let tgtUpperLimit = player.progress + this.preloadRange
    let tgtLowerLimit = player.progress - this.preloadRange
    let pos = false
    for (let offset = 0; offset < this.preloadRange; offset++) {
        let tgt = id + offset
        if (tgt > tgtUpperLimit || tgt < tgtLowerLimit || tgt > player.maxProgress){
            return
        }
        if (this.idsToLoad[tgt] ) {
            pos = tgt
            break
        }
    }

    if (!pos || pos === this.position){
        return
    }
    this.position = pos
    this.src = player.id2path(pos)
}

preloadCtx.fillStyle = "#666"
preloader.addEventListener('load', function(){
    delete this.idsToLoad[this.position]
    this.idsToLoad.length = Object.keys(this.idsToLoad).length - 1
    this.setPosition(this.position >= player.maxProgress ? 1 : this.position + 1)
    preloadCtx.fillRect(this.position / player.maxProgress * preloadIndicator.width, 0, 1, 3)
})
preloader.setPosition(1)


slider.addEventListener('input', function(){
    player.pause('slider')
    player.setProgress(this.value)
})
slider.addEventListener('change', function(){
    player.unpause('slider')
})
progress.addEventListener('change', function(){
    player.setProgress(this.value)
    progress.blur()
})
progress.addEventListener('focus', function(){
    player.pause('progress-focus')
})

player.togglePlay()

window.addEventListener('keydown', function(e){
    if (e.srcElement.id ==='progress') return

    switch (e.key || e.keycode) {
        case 'ArrowLeft':
        case 37:
            player.stepFrame(-1)
            e.preventDefault()
            break;
        case 'ArrowRight':
        case 39:
            player.stepFrame(1)
            e.preventDefault()
            break;
        case ' ':
        case 32:
            player.togglePlay()
            e.preventDefault()
            break;
        case '1':
        case 49:
        case '2':
        case 50:
        case '3':
        case 51:
        case '4':
        case 52:
            let map = {
                '1': 1.3, 49: 1.3,
                '2': 2.6, 50: 2.6,
                '3': 6.5, 51: 6.5,
                '4': 13,  52: 13,
            }
            player.setSpeed(map[e.key] || map[e.keycode])
            e.preventDefault()
            break;
    }
})
--></script>
<script defer src="/s/1190/textframes.js"></script>

{% endblock %}