{% extends "strip.twig" %}

{% block comic %}

<div id="comic">
<img src="{{strip.img_url}}" style="max-height:{{strip.height}}px" alt="{{strip.title}}" title="{{strip.caption}}">
<div class="map"><div class="ground"></div></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/s/1110/d28668.js"></script>

{% endblock %}
